<!DOCTYPE html>
<html>
    <head>
        <title>TANK ROBUT</title>
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
        <style type="text/css">
            #camera {
                width: 814px;
                height: 537px;
            }
            #camera iframe {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="span10" id="camera">
                    <iframe src="http://{{camera_ip}}/serverpush.htm">
                        Loading...
                        If this does not load soon, make sure you are on the right network.
                    </iframe>
                </div>
                <table class="span5" id="controls">
                    <thead>
                        <tr>
                            <th>Left tread</th>
                            <th>Right tread</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a class="btn">&uarr;</a></td>
                            <td><a class="btn">&uarr;</a></td>
                        </tr>
                        <tr>
                            <td><a class="btn">&darr;</a></td>
                            <td><a class="btn">&darr;</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <script type="text/javascript" src='/javascripts/jquery-1.7.1.min.js'></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src='/javascripts/index.js'></script>
    </body>
</html>
